@model VehicleReqModel

@{
    ViewData["Title"] = "VehReqs";
    Layout = "~/Views/Shared/_Layout.cshtml";


    string alert = ViewBag.RequestSent;

    if (alert != null)
    {
        <div class="callout success" data-closable>
            <h5>@alert</h5>
            <p>You can Redirect Back to Portfolio</p>
            <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

}

@*<h1>@Model.GetUser.UserName</h1>*@

<br />

<div class="grid-container fluid">
    <div class="grid-x">


        @*<div class="cell">
                <hr />
            </div>*@

        <form asp-action="CheckBoxTester" asp-controller="UserPort" asp-route-shopID="@Model.UserID" asp-route-vehID="@Model.VehicleID" method="post">


            <div class="cell">

                <div class="grid-container fluid">

                    <div class="grid-x grid-padding-x">


                        <div class="cell small-6">

                            <div class="grid-container fluid">

                                <div class="grid-x">

                                    <div class="cell">
                                        <img src="https://get.foundation/sites/docs/assets/img/orbit/02.jpg" />
                                    </div>

                                    <div class="cell">

                                        <div class="grid-container fluid">

                                            <div class="grid-x">

                                                <div class="cell small-6">
                                                    <label>Name</label>
                                                    <label>@Model.GetUser.UserName</label>

                                                    <br />
                                                </div>

                                                <div class="cell small-6">
                                                    <label>Email</label>
                                                    <label>@Model.GetUser.UserEmail</label>

                                                    <br />
                                                </div>


                                                <div class="cell small-6">
                                                    <label>Address</label>
                                                    <label>@Model.GetUser.UserAddress</label>

                                                    <br />
                                                </div>


                                                <div class="cell small-6">
                                                    <label>City</label>
                                                    <label>@Model.GetUser.UserCity</label>

                                                    <br />
                                                </div>

                                                <div class="cell small-6">
                                                    <label>County/State/Region/Country</label>
                                                    <label>@Model.GetUser.UserCountry</label>

                                                    <br />
                                                </div>

                                                <div class="cell">
                                                    <label>Description</label>
                                                    <label>@Model.GetUser.UserDescription</label>

                                                    <br />
                                                </div>


                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="cell small-6">


                            <div class="grid-container fluid">
                                <div class="grid-x grid-margin-x">

                                    <div class="cell small-6">
                                        <label asp-for="VehReqName">
                                            Enter Request Name
                                            <input asp-for="VehReqName" />
                                        </label>
                                    </div>

                                    <div class="cell small-6">
                                        <label asp-for="VehdateTime">
                                            Enter A Requested Date
                                            <input asp-for="VehdateTime" />
                                        </label>
                                    </div>

                                    <div class="cell">
                                        <label asp-for="VehMessage">
                                            Send Request Message
                                            <textarea asp-for="VehMessage"></textarea>
                                        </label>
                                    </div>

                                    <div class="cell small-6">
                                        <button type="submit" class="button">Send Request</button>
                                        <a class="button" asp-action="UserPortfolio" asp-controller="UserPort">Return to Homepage</a>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>

                </div>

                <hr />

            </div>


            <div class="cell">


                <div class="grid-container fluid">

                    <div class="grid-x grid-margin-x">


                        @foreach (var services in Model.ShopServices)
                        {
                            <div class="cell small-4">

                                <div class="card">

                                    <div class="card-divider">
                                        <h4>@services.ServiceName</h4>
                                    </div>

                                    @*<img src="https://toppng.com/uploads/preview/tools-icons-clip-transparent-fix-icon-11553448942vb0gu6dlx6.png" />*@

                                    <div class="card-section">

                                        <div class="grid-container fluid">

                                            <div class="grid-x">

                                                @foreach (var technicians in services.AssignedTechDb)
                                                {

                                                    <div class="cell">

                                                        <div class="grid-container fluid">

                                                            <div class="grid-x">

                                                                <div class="cell small-6">

                                                                    <label>Technician Name</label>
                                                                    <label>@technicians.Technician.TechnicianName</label>

                                                                </div>

                                                                <div class="cell small-6 text-center">
                                                                    <label>
                                                                        Select Technician
                                                                        <input id="checkbox" name="Blanks" value="@technicians.AssignId" type="checkbox" />
                                                                    </label>
                                                                </div>

                                                                <div class="cell">
                                                                    <label>Technician Description</label>
                                                                    <label>@technicians.Technician.TechnicianDescription</label>
                                                                </div>


                                                            </div>

                                                        </div>


                                                        <hr />
                                                    </div>

                                                }


                                                <div class="cell">

                                                    <label>Service Description</label>
                                                    <label>@services.ServiceDescription</label>

                                                    <hr />
                                                </div>

                                                <div class="cell">

                                                    <div class="grid-container fluid">

                                                        <div class="grid-x">

                                                            <div class="cell small-6">
                                                                <label>Service Cost</label>
                                                            </div>

                                                            <div class="cell small-6 text-center">
                                                                <label>$ @services.ServiceCost</label>
                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>


                                </div>

                            </div>

                        }

                    </div>

                </div>

            </div>

        </form>

    </div>
</div>





@*<form asp-action="CheckBoxTester" asp-controller="UserPort" asp-route-shopID="@Model.UserID" asp-route-vehID="@Model.VehicleID" method="post">
        <div class="grid-container fluid">
            <div class="grid-x grid-margin-x">

                <div class="cell small-6">
                    <label asp-for="VehReqName">
                        Enter Request Name
                        <input asp-for="VehReqName" />
                    </label>
                </div>

                <div class="cell small-6">
                    <label asp-for="VehdateTime">
                        Enter A Requested Date
                        <input asp-for="VehdateTime" />
                    </label>
                </div>

                <div class="cell small-6">
                    <label asp-for="VehMessage">
                        Send Request Message
                        <textarea asp-for="VehMessage"></textarea>
                    </label>
                </div>

                <div class="cell small-6">
                    <button type="submit" class="button">Send Request</button>
                    <a class="button" asp-action="UserPortfolio" asp-controller="UserPort">Return to Homepage</a>
                </div>

                <div class="cell small-6">
                    <fieldset class="fieldset">
                        <legend>Select Your Service</legend>
                        @foreach (var items in Model.AssignedTeches)
                        {
                            <label>
                                Assigned Technician : @items.Technician.TechnicianName
                                Service Name : @items.Service.ServiceName
                                <input id="checkbox" name="Blanks" value="@items.AssignId" type="checkbox" />
                            </label>
                        }
                    </fieldset>
                </div>

            </div>
        </div>

    </form>*@


